/* =============================================================================
  COLORS
============================================================================= */

$colors: (
	white: #fff,
	black: #000,
	gray1: #111,
	gray2: #222,
	gray3: #333,
	gray4: #444,
	gray5: #555,
	gray6: #666,
	gray7: #777,
	gray8: #888,
	gray9: #999,
	grayC: #ccc,
	grayD: #ddd,
	grayE: #eee,
	grayEF: #efefef,
	grayBC: #bcbcbc,
	gray9B: #9b9b9b,
	gray-dark: #2b2532,
	orange: #e57420,
	purple: #90478f
);

$colors-validation: (
	succes-green: #4cae4c,
	error-red: #d9534f,
	warning-orange: #f0ad4e
);

/* =============================================================================
  SOCIAL MEDIA COLORS
============================================================================= */

// $color-social: (
//     twitter: #00aced,
//     facebook: #3b5998,
//     googleplus: #dd4b39,
//     pinterest: #cb2027,
//     linkedin: #007bb6,
//     youtube: #bb0000,
//     vimeo: #aad450,
//     instagram: #517fa4,
//     flickr: #ff0084,
//     dribbble: #ea4c89,
//     whatsapp: #4dc247,
// )
