$module-name:           'intro';


.m-#{$module-name} {
    background-color: $green;
    
    &__title {
        display: flex;
        justify-content: center;

        &--nederland {
            color: $red;
        }

        &--limburg {
            color: $dark-green;
        }

    }

    &__content {
        display: flex;
        justify-content: center;
    }

}