$module-name:           'kilometers';


.m-#{$module-name} {

    &__text {
        background-color: $light-gray;
    }
    
    &__title {
        display: flex;
        justify-content: center;
    }

    &__content {
        // display: flex;
        // justify-content: center;
    }

}